#menu-container {
    display: flex;
    height: 100vh;
    transition: 0.3s;
    font-family: Calibri;
    /*background-color: red;*/
}

#menu-frame{
    flex: 0 1 50px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

#avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: white;
}

#avatar:focus {
    outline: none;
}

#expand-menu-frame{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #3B88C3;
    overflow: hidden;
    padding: 5px;
    transition: 0.1s;
}
.avatar-frame {
    background-color: white;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border: 0;
}
.name-frame {
    color: white;
    font-weight: 700;
    font-size: 18px;
}
#log-out {
    margin-top: 10px;
    border: 0;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #3B88C3;
}
#log-out:focus {
    background-color: #B0CFE7;
    color:white;
    outline: none;
}