.friend-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: space-between;
}
.friend-container:hover{
    background-color: #CCE4F2;
    border-radius: 30px;
}

.avatar-name {
    display: flex;
    align-items: center;
}
.avatar-friend-frame {
    height: 64px;
    width: 64px;
    background-color: #3B88C3;
    border-radius: 50%;
    margin: 0 5px;
}
.name-friend-frame {
    font-family: Calibri;
    font-weight: 500;
    margin: 0 5px;
}
.status-frame {
    height: 16px;
    width: 16px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
}
.onlined{
    background-color: green;
}

.selected {
    background-color: #CCE4F2;
    border-radius: 30px;
}

@media only screen and (max-width: 800px) {
    .status-frame{
        visibility: hidden;
    }
    .name-friend-frame{
        visibility: hidden;
    }
    .avatar-friend-frame{
        height: 32px;
        width: 32px;
    }
}