.chat-area-container {
    height: 100vh;
    font-family: Calibri;
    display: flex;
    flex-flow: column;
}
::-webkit-scrollbar {
    background-color: #B0CFE7;
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #3B88C3;
    border-radius: 10px;
}

.chat-title-frame {
    height: 50px;
    flex: 0 1 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B88C3;
    font-weight: 500;
    font-size: 22px;
}
.message-frame {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.input-chat-frame {
    flex: 0 1 50px;
}

@media only screen and (max-width: 800px) {
    .chat-title-frame{
        font-size: 14px;
    }
    .input-chat-frame {

    }
}
