.chat-area-container {
    height: 100vh;
    font-family: Calibri;
    display: flex;
    flex-flow: column;
}
.title-frame {
    height: 50px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-frame {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.input-chat-frame {
    flex: 0 1 50px;
}
